# to run all tests
pytest

# to run only the unit test
pytest -m unit

# to run only the integration test
pytest -m integration

